html{
    font-size: 67.5%;
}

body {
    font-family: 'Nunito Sans';
}

.header {
    background-image: linear-gradient(to right, rgb(6, 190, 182, .8), rgb(72, 177, 191, .8)), url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    padding: 5rem;
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-heading {
    color: black;
}

h2 {
    font-weight: 700;
    margin-bottom: 2rem;

}
.header-heading,.header-paragraph  {


    padding: 2rem;
    border-radius: 5px;
}

.header-paragraph {
    color: black;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.container-fluid{

   padding: 0;

}
.cont{
  padding-bottom: 2% ;
}
.table{
  background-color: #b0e0e6;
  font-style: normal;
  font-family: sans-serif;


}
.foot{
  padding-top: 4% ;
}

.head{

  padding-bottom: 3%;
}


.display-4 {
    font-weight: 900;
}

.card-heading {
    font-weight: 400;
    font-size: 20px;
}

.card-text {
    font-size: 2.5rem;
    font-weight: 700;
}
.card {
    padding: 10px 10px;
}

.chart-container {
    padding: 3rem;
    margin-top: 3rem;
    width: 50%;
    height: 50%;

}

.table-container {
    padding: 2rem;

}
 .text{
   padding-top: 5%;
   padding-bottom: 3%;
 }



 .inner{
   overflow: hidden;
 }

 .inner{
   transition: all 1.5s ease;
 }

 .inner:hover{
   transform: scale(1.5);
 }


footer {
    margin-top: 2rem;
    text-align: center;
    color: black;
    padding: 3rem;
}

@media (max-width: 1250px) {

    .card {
        padding: 5px 30px;
    }

    .card-heading {

        font-size: 1rem;
    }

    .card-text {
        font-size: 1.5rem;

    }

}




@media (max-width: 900px) {

.card {
        padding: 5px 30px;
    }

    .card-heading {

        font-size: 1rem;
    }

    .card-text {
        font-size: 1.5rem;

    }



    .chart-container {
        padding: 3rem;
        margin-top: 3rem;
        width: 100%;
        height: 100%;

    }

    .display-4 {
        font-size: 1.5rem;
    }

    .header-paragraph {
        color: black;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .table-container {
        width: 100vw;
    }




}
